.growth-total-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.growth-total {
  width: 700px;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 50px;
  padding: 40px 0;
}

.growth-head {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  color: orange;
  margin-bottom: 40px;
  width: 100%;
  margin-top: -20px;
}

.growth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

.growth-label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 25px;
  color: black;
  width: 100%;
  text-align: left;
}

.growth-input {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.growth-total-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.growth-button {
  width: 100%;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.close-button{
    margin-right: 600px;
    margin-bottom: 50px;
}
@media (max-width: 850px) {
  .growth-total {
    width: 95%;
  }
  .growth-form {
    padding: 0 20px;
  }
  .growth-head {
    font-size: 30px;
  }
  .growth-label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .growth-total {
    padding: 20px 0;
  }
  .growth-form {
    padding: 0 15px;
  }
  .growth-head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .growth-label {
    font-size: 16px;
    margin-top: 15px;
  }
  .growth-input {
    padding: 8px;
  }
  .growth-total-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .growth-button {
    font-size: 18px;
    padding: 10px 20px;
  }
}