* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #f0fbff;
  font-family: Arial, sans-serif;
  max-width: 1500px;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.apptotalproject {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.full-viewport-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
}

.page-section-wrapper {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-container {
  max-width: 100%;
  width: 100%; /* This means 100% of its parent's width, which is the viewport */
  margin: 0 auto; /* Centers it */
  flex-grow: 1;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f0fbff;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.nav-links .nav-button {
  background: none;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.nav-links .nav-button:hover,
.nav-links .nav-button.active {
  color: navy;
}

.header-actions .apply-jobs-btn {
  background-color: #FFA500;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s ease;
}

.header-actions .post-job-btn {
  background-color: rgb(84, 84, 169);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s ease;
}

/* Ensure the footer also spans full width if it has a background */
.footer {
  width: 100%;
  background-color: #f0fbff;
  padding: 20px;
  text-align: center;
}