.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://i.postimg.cc/ryQQRX0n/240-F-547978128-vq-EEUYBr1vc-Awf-RAq-Re-ZXTYtyawpg-Lc-C.jpg");
    background-size: cover;

}
.logintitle{
    font-size: 50px;
}
.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.loginform>label{
    margin: 10px 0;
}
.logininputs{
    padding: 10px;
    background-color: white;
    border: none;

}
.loginbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color:white;
    padding: 10px;

}
.loginregisterbutton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}